/* Chapter 9 JavaJam John Emery */ 

/*Box-Sizing for all elements*/
* {
	box-sizing: border-box;
}

/* Styles for the body */
body {
	background-color: #D2B48C; /* Set background color */
	color: #221811; /* Set text color */
	font-family: Tahoma, Arial, sans-serif; /* Define font family */
	margin: 0; /*Clear margins*/
}
/* Styles for the wrapper */
#wrapper {
	background-color: #231814; /* Set background color */
	padding: 0;
}

/* Styles for the Header */
header {
	padding-top: 5px ; /*Set padding to top to 5 pixels*/
	padding-bottom: 5px; /*Set padding to bottom to 5 pixels*/
	padding-left: 105px; /*Set left padding to 105pixels*/
	height: 128px; /*Set height to 128pixels*/
	color: #231814; /* Set text color */
	background-color: #D2B48C;/* Set background color */
	background-image: url(../images/cup.jpg);/*sets the coffeelogo image in the header*/
	background-repeat: no-repeat; /*no repeat on the logo*/
}

/*Styles for header a elements*/
header a {text-decoration: none;}
header a:link {color: #231814;}
header a:visited {color: #231814;}
header a:hover {color: #FEF6C2;}

/* Styles for the headers */
main h2, h3, h4, p, div, dl {
	padding-left: 1em; /*set left padding of 3em for the h2, h3, h4, p, div, ul, and dl elements*/
	padding-right: 1em; /*set right padding of 2em for the h2, h3, h4, p, div, ul and dl elements*/
}

main ul { padding-left: 2em; }

h1 { font-size: 2em; /*Set h1 font size to 3em*/}
h2 { color: #8C3826; } /* Set text color */
h3, dt {color: #8C3826; } /*Set h3 and dt text color*/
h4 {
	background-color: #D2B48C; /*Set background color for the h4*/
	font-size: 1.2em; /*Set font size to 1.2em*/
	padding-left: .5em; /*Set left side padding to .5em*/
	padding-bottom: 0; /*set bottom padding to 0*/
	text-transform: uppercase; /*capitalize the text*/
	border-bottom: 1px solid #221811; /*set bottom border*/
	clear: left; /*clear left float*/
}

/* Set navigation bar style */
nav { 
	font-size: 1.5em;/*Set nav font size to 1.5em*/
	text-align: center; /* Align navigation bar to the center */
}

nav a { text-decoration: none; /*removes underlining of the links*/	}

/*pseudo class for nav links*/
nav a:link { color: #FeF6C2; }

nav a:visited { color: #D2B48C; }

nav a:hover { color: #CC9933;
}

nav ul {
	display: flex; /*Creates the flex container*/
	flex-direction: column; /*set the direction to column*/
	list-style-type: none; /*takes away list markers*/
	margin: 0; /*Set margins to 0*/
	padding: 0; /*Set padding to 0*/
	font-size: 1.25em;/*Set font size to 1.25em*/
}

nav li {
	padding: .5em 1em;
	width: 100%;
	border-bottom: 1px solid #FEF6C2;
}


/*Styles for Main Content*/
main {
	padding: 0 0 2em 0; /*Padding of 0 around the left*/
	display: block;/*Internet Explorer issue*/
	padding-top: 0; /*Zero out the top padding*/
	background-color: #FeF6C2;/*Add color FEF6C2 to the background*/
}


/*Styles for details*/
.details {
	padding-left: 20%; /*20% padding to left*/
	padding-right: 20%; /*20% padding to right*/
	overflow: auto;/*clear a float*/
}



/*styles for Images*/
img {
	padding-left: 10px; /*set 10pixels padding to left */
	padding-right: 10px; /*set 10pixels padding to right*/
}

/*styles for home hero*/
#homehero {
	background-image: url(../images/road.jpg);/*Set the background Image for the hero div*/
	height: 300px;/*set height for the hero image*/
	background-size: 100% 100%;/*set the background image to cover the width of the box the wrapper creats*/
	background-repeat: no-repeat;/*sets the background image to not repeat*/
}

#heromugs {
	background-image: url(../image/threemugs.jpg);/*Set the background Image for the hero div*/
	height: 300px;/*set height for the hero image*/
	background-size: 100% 100%;/*set the background image to cover the width of the box the wrapper creats*/
	background-repeat: no-repeat;/*sets the background image to not repeat*/
}

#heroguitar {
	background-image: url(../image/guitar.jpg);/*Set the background Image for the hero div*/
	height: 300px;/*set height for the hero image*/
	background-size: 100% 100%;/*set the background image to cover the width of the box the wrapper creats*/
	background-repeat: no-repeat;/*sets the background image to not repeat*/
}

#herojobs {
	background-image: url(../image/coffeecup.jpg);/*Set the background Image for the hero div*/
	height: 300px;/*set height for the hero image*/
	background-size: 100% 100%;/*set the background image to cover the width of the box the wrapper creats*/
	background-repeat: no-repeat;/*sets the background image to not repeat*/
}

/*Styles for form*/
form {
	display: flex;
	flex-direction: column;
	padding-left: 1em;
	width: 80%;
}

input, textarea { margin-bottom: .5em; } /*Sets the bottom margin for both inputs and textarea to .5em*/



/*Display properties for the Phone number between Mobile and Desktop*/
#mobile {
	display: inline;
}

#desktop {
	display: none;
}

/* Styles for the Footer */
footer {
	padding: 1em;/*Sets 1em of padding to all sides*/
	border-top: 2px solid #8C3826; /*Creates a top border for the footer*/
	background-color: #D2B48C; /* Set background color */
	font-size: 0.60em; /* Set text size */
	font-style: italic; /* Set text to be italic */
	text-align: center; /* Align text to the center */
}

/*Styles for table*/
table {
	width: 90%; /*takes 90% of the parent container*/
	border-spacing: 0;
}

th, td { padding: 10px; }

tr:nth-of-type(odd) { background-color: #D2B48E; } /*pseudocode for table*/

/*media query for medium screen*/
@media (min-width: 600px) {
	header {
		text-align: center; /*align text center*/
		padding-left: 0; /*take away padding*/
	}
	
	h1 {font-size: 3em; /*set font size for h1 to 3em*/}
	
	nav ul {
		flex-flow: row nowrap; /*return nav to single line at top*/
		justify-content: space-around; /*ensure space around links*/
	}
	
	nav li { border-bottom: none;} /*remove bottom border*/
	
	#homehero {
	background-image: url(../image/hero.jpg);/*Set the background Image for the hero div*/
	height: 50vh;/*set height for the hero image*/
	}

	#heromugs {	background-image: url(../image/heromugs.jpg);/*Set the background Image for the hero div*/ }

	#heroguitar { background-image: url(../image/heroguitar.jpg);/*Set the background Image for the hero div*/ }
	
	#flow {
		display: flex; /*flexible container*/
		flex-direction: row; /*set the flex-direction to row*/
	}
	
	#mobile { display: none; /*hide mobile element*/ }
	
	#desktop { display: inline; /*show desktop element*/ }
	
	.details { /*use flexbox for details*/
		display: flex; 
		flex-direction: row;
	}
	
	h4 { 
		margin-left: 10%;
		margin-right: 10%;
	}
	
	@supports (display: grid) {	}
	
	form { 
		grid-template-columns: 6em 1fr; /*Sets column dimensions*/
		grid-gap: 1em; /*Sets the grid gap between the two columns*/
		width: 40%; /*Sets width of the form to 40% of the browser*/
		display: grid; /*Sets the display of the form to a grid*/
		}
	
	input[type="submit"] { 
		grid-column: 2;
		width: 9em;
	}
	
	#herojobs { background-image: url(../image/herojobs.jpg);/*Set the background Image for the hero div*/	}
}

/*media query for large screens*/
@media (min-width: 1024px) {
	@supports (display: grid) {
		header { grid-area: header; }
		nav { grid-area: nav; }
		main { grid-area: main; }
		footer { grid-area: footer; }
		
		#wrapper {display: grid;
			grid-template:
				"header header"
				"nav main"
				"footer footer"
				/200px; }
		
		nav ul { flex-direction: column; } /*arrange navigation to a column*/
		
		header { background-image: url(../image/coffeelogo.jpg); } /*changes the logo from the tan logo to the dark logo*/
	}	
}
